<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.linkpc.wilbertvolkers.clearclipboard">

        <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Clears the clipboard history when an empty string is copied. Samsung
 introduced a ClipBoard history of 20 items, your average password manager will attempt to remove
 a password by copying an empty string, that will not work in this case. There are similar modules
 out there but they did not work for me. This module will copy 20 texts to push out the password.
 It's my first module and even has a Toast message. What more could you wish for?" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>
